.list-group-table {
    width: 100%;
    max-width: 250px;
    margin: auto;
}
.butao {
    float: right;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: -5px;
}
.list-group-item {
    margin: 0.2px;
    padding: 5px 0px 0px 5px;
    line-height: 30px;
    width: 100%;
    max-width: 210px;
}